<!DOCTYPE html>
<html lang="en" ng-app="pyrcApp">
<head>
    <meta charset="utf-8">
    <title>PyRC</title>
    <meta name="description" content="Bring IRC into the HTTP era.">
    <meta name="author" content="Cory Benfield">

    <!-- Let's include some Javascript. Woo! -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="/static/js/irc.js"></script>
    <script src="/static/js/pyrc.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body ng-controller="ConnectionController">
    <h1>Welcome to PyRC.</h1>
    <p>Join new channel: <input type="text" ng-model="chan"><input type="button" value="join" ng-click="joinIrcChannel()"></p>
    <div ng-repeat="channel in channels" ng-controller="ChannelController" ng-init="init(channel)">
        <h2>{{channel}}</h2>
        <p ng-repeat="message in messages"><strong>{{message.from}}:</strong> {{message.text}}</p>
        <p><input type="text" ng-model="msg"><input type="button" value="send" ng-click="sendIrcMessage()"></p>
    </div>
</body>
</html>
