<!DOCTYPE html>
<html lang="en" ng-app="pyrcApp">
<head>
    <meta charset="utf-8">
    <title>PyRC</title>
    <meta name="description" content="Bring IRC into the HTTP era.">
    <meta name="author" content="Cory Benfield">

    <!-- Let's include some Javascript. Woo! -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="/static/js/irc.js"></script>
    <script src="/static/js/pyrc.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body ng-controller="ircCtrl">
    <h1>Welcome to PyRC.</h1>
    <p ng-repeat="message in messages"><strong>{{message.from}}:</strong> {{message.text}}</p>
</body>
</html>
