<!DOCTYPE html>
<html lang="en" ng-app="pyrcApp">
<head>
    <meta charset="utf-8">
    <title>PyRC</title>
    <meta name="description" content="Bring IRC into the HTTP era.">
    <meta name="author" content="Cory Benfield">

    <!-- Let's style this business. -->
    <link rel="stylesheet" href="/static/css/base.css">

    <!-- Let's include some Javascript. Woo! -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="/static/js/irc.js"></script>
    <script src="/static/js/pyrc.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body ng-controller="ConnectionController">
    <h1 class="header">Welcome to PyRC.</h1>

    <ul class="tabs">
        <li ng-repeat="channel in connection.channels" ng-class="{active: connection.active===channel, unread: connection.unread[channel]}" ng-click="connection.active = channel">{{channel}}</li>
    </ul>

    <div class="content" ng-if="connection.loggedIn">
        <p>Join new channel: <input type="text" ng-model="connection.chan" luk-enter="joinIrcChannel()"><input type="button" value="join" ng-click="joinIrcChannel()"></p>

        <div ng-repeat="channel in connection.channels" ng-controller="ChannelController" ng-init="init(channel)" class="channel" luk-show="connection.active===channel">
            <p ng-repeat="message in messages" class="message"><strong>{{message.from}}:</strong> {{message.text}}</p>
            <p class="message"><input class= "text-entry" type="text" ng-model="msg" luk-enter="sendIrcMessage()"></p>
        </div>
    </div>
    <div class="content" ng-if="!connection.loggedIn">
        <p>Username: <input type="text" ng-model="connection.username" luk-enter="logIn(connection.username)"><input type="button" value="join" ng-click="logIn(connection.username)"></p>
    </div>
</body>
</html>
