/*
Base CSS for Pyrc
*/

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.channel {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #202020;
}

.message {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 5px;
    border-top: 1px solid #F0F0F0;
}

.text-entry {
    width: 99%;
}

.tabs {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0 10px 0 0;
    padding: 120px 0 0 10px;
    width: 180px;
    overflow: hidden;
    background-color: #202020;
    color: white;
}

.tabs li {
    margin: 5px 0;
    font-size: 22px;
    cursor: pointer;
}

.active {
    background-color: white;
    color: #202020;
}

.unread {
    background-color: #800000;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 120px;
    width: 200px;
    color: white;
    z-index: 999;
    text-align: center;

}

.content {
    position: absolute;
    top: 0;
    left: 200px;
    right: 0;
    bottom: 0;
}
