/*
Base CSS for Pyrc
*/

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.channel {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: gray;
}

.message {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 5px;
    border-top: 1px solid gray;
}

.message:nth-child(odd) {
    background-color: white;
}

.message:nth-child(even) {
    background-color: gray;
}

.tabs {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    margin: 0 10px 0 0;
    padding: 50px 0 0 10px;
    width: 140px;
    overflow: hidden;
    background-color: gray;
}

.header {
    position: absolute;
    top: 0;
    left: 160px;
    right: 0;
    height: 50px;
}

.content {
    position: absolute;
    top: 50px;
    left: 160px;
    right: 0;
    bottom: 0;
}
